.MainChat
  .MainChat__group
    .top-items
      .top-items__names
        .group-name
          =@group.name
        .member-names
          
          Member：
          
          .name
            - @group.group_users.each do |group_user|
              = group_user.user.name

      = link_to "Edit", "edit", class: "top-items__edit_group_btn" 
      
          
        
  .MainChat__messages
    = render @messages


  .MainChat__form
    =form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .bottom-items__forms
        = f.text_field :message, placeholder: "type a message",class: "textarea"
        = f.label :image, class: "input-box__image" do
          =icon('fas','image')
          =f.file_field :image, class: "input-box__file"

            
      = f.submit "Send", class:"Send-btn"