.SideBar
  .SideBar__user
    .top-items
      .top-items__user-name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "icons__btn--make-group" do
          =icon('far','edit', class: "icon edit-btn")
          %span<>
        =link_to edit_user_path(current_user), class: "icons__btn__edit-account" do
          =icon('fas','cog', class: "icon cog-btn")
          %span<>

  .SideBar__groups
    - current_user.groups.each do |group|
      .main-item
        = link_to group_messages_path(group) do
          .main-item__group-name
            = group.name
          .main-item__new-message
            = group.show_last_message
      